.nav-setting {
	top: 141px;
}
#setting .page-title {
	text-transform: uppercase;
	text-align: left;
}
.form-group-heading {
	font-size: 13px;
	color: #2d323d;
	font-weight: bold;
}
.header-choice {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-choice li input {
	display: inline;
}
.header-choice li input {

}
.custom-witdh-set {
	width: 258px;	
}
#setting .profile-form {
	padding: 0;
}
#setting input {
	border-radius: 3px;
}
#setting .form-group {
	padding-left: 100px; 
	padding-right: 96px; 
}
.header-choice p span {
	margin-right: 28px;
}
.header-choice p span input {
	margin-right: 10px;
}

#setting input[type="file"] {
	border: none;
}
#setting input[type="color"] {
	border: 0px;
	background: none;
}
#vip-guest .content-wrapper {
	margin-left: 0;
	padding-top: 0px;
}
#vip-guest .topbar-dept.topbar-dept-message {
	margin-top: 0px;

	min-height: 80px;
}
#vip-guest .search-filter {
	position: static;
	margin-left: 0;
}
#vip-guest .msg-list {
	height: calc(100% - 0px);
	background-color: #2b384a;
	padding-top: 12px;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list.new-msg {
	background: #3b5874;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list {
	background: #384d65;
	border: none;
	margin: 10px;
	padding: 8px 9px;
	border-radius: 5px;
}
#vip-guest .single-msg-list {
	padding: 8px 9px;
	background: #384d65;
}
#vip-guest .single-msg-list.active {
	background: #4276fe;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list.active, 
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list:hover {
	background: #4276fe;
	color: #fff;
	border: none;
	border-radius: 5px;
}
#vip-guest .search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input::-moz-placeholder { /* Firefox 19+ */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input:-ms-input-placeholder { /* IE 10+ */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input:-moz-placeholder { /* Firefox 18- */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input,
#vip-guest .search-box {
	background: #2b384a;
	color: #fff;
}
#vip-guest .search-box input {
	width: 100%;
	padding-left: 0;
}
#vip-guest .search-box {
	border: none;
	border-radius: 5px;
	width: 206px;
	margin-left: -4px;
}
.vip-guest-header {
	text-align: center;
}
.title-vip {
	color: #ffffff;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 22px;
}
#vip-guest  .msg-list {
	width: 231px;
	background: #36465c;
	margin-top: 2px;
	padding: 20px 12px;
}
#vip-guest .msg-box {
	width: 231px;
	background-color: #2b384a;
}
.mrg10 {
	padding-top: 12px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 231px;
	background: #2b384a;
}
#vip-guest .msg-bg {
	background: #36465c;
	padding-top: 10px;
}
#vip-guest .msg-box.msg-box-message .msg-list {
	border: none;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list::before {
	display: none;
}
.msg-box.msg-box-message .msg-list .single-msg-list.active .sendername, .msg-box.msg-box-message .msg-list .single-msg-list:hover .sendername {
	color: #fff;
}
.msg-box.msg-box-message .msg-list .single-msg-list.active .msgfromsender, .msg-box.msg-box-message .msg-list .single-msg-list:hover .msgfromsender {
	color: #fff;
}
.msg-box.msg-box-message .msg-list .single-msg-list.new-msg .sendername,
.msg-box.msg-box-message .msg-list .single-msg-list .sendername {
	color: #fff;
}
.msgfromsender {
	color: #748daf;
}
.guest-message-count  {
	color: #fff;
	text-transform: uppercase;
	padding: 0 22px;
}
.guest-message-count p {
	margin-bottom: 0;
}
.guest-message-count span {
	float: right;
}
.message-n .icon {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
#vip-guest .container {
	width: calc(100% - 543px);
	margin: 0 auto 0 231px;
}
#vip-guest .msg-chat.msg-chat-message {
	margin: 0;
	width: calc(100% - 546px);
	height: calc(100% - 204px);
	border: none;
}
.right-content {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 295px;
	background: #fff;
}
.right-content:before {
	content: " "; 
	width: 1px;
	height: 100%;
	position: absolute;
	left: -16px;
	top: 0px;
	bottom: 0px;
	border-left: 1px solid #e5ebf1;
}
.right-wrapper {
	width: 265px;
}
/*Profile page css*/
.member-photo {
	height: 64px;
	width: 64px;
	border-radius: 3px;
	overflow: hidden;
}
.member-photo img {
	width: 100%;
}
.pddl-0 {
	padding-left: 0;
}
.pddr-0 {
	padding-right: 0;
	padding-left: 23px;
}
p.member-name {
	font-size: 18px;
	font-weight: 600;
	color: #4276fe;
	margin-bottom: 4px;
}
p.member-duration {
	display: inline-block;
	color: #fff;
	font-size: 9px;
	background: #929fb1;
	padding: 0px 7px;
	border-radius: 50px;
}
.member-detail {
	margin-top: 2px;
}
.member-top-marg {
	margin-top: 20px;
	margin-bottom: 29px;
}
ul.user-contact {
	list-style: none;
	padding-left: 30px;
	margin-bottom: 30px;
}
ul.user-contact li {
	margin-bottom: 11px;
	position: relative;
	font-size: 12px;
	color: #36465c;
}
ul.user-contact li.email-add {
	color: #4276fe;
}
.location::before,
.phone-num::before,
.email-add::before,
.calender::before {
	content: " ";
	position: absolute;
	width: 16px;
	height: 16px;
	left: -30px;
	background-repeat: no-repeat;
	background-position: center;
}
.location::before {
	background-image: url(assets/graphics/location.png);
}
.phone-num::before {
	background-image: url(assets/graphics/mobile.png);
}
.email-add::before {
	background-image: url(assets/graphics/at.png);
}
.calender::before {
	background-image: url(assets/graphics/calender.png);
}


/*added on sep 25 2017*/
.toggle.btn {
    min-width: 99px;
    min-height: 34px;
    border-radius: 50px;
    border: none;
}
.toggle .toggle-handle {
    position: relative;
    padding-bottom: 0;
    height: 34px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
        width: 35px;;
    left: -15px;
    border-width: 0 1px;
}
#widget-page table {
    background-color: transparent;
    width: 95%;
}
#widget-page tr {
	border-bottom: 1px solid #e8f1fa;
	padding: 17px 20px;
}
#widget-page tr:nth-child(even) {
	background: #f8fbff;
}
#widget-page tr th, 
#widget-page tr td {
    padding: 17px 20px;
}
.toggle.off .toggle-handle {
    width: 35px;
    left: 16px;
}
#widget-page td {
	font-size: 13px;
    color: #48576c;
}
p.status-text {
    display: inline-block;
    font-size: 14px;
    color: #768691;
}
button.embed {
	margin-right: 11px;
}
button.embed,
button.edit {
	border-radius: 3px;
	background: #f2f3f4;
	border: 1px solid #d4d9df;
	color: #222938;
	font-weight: 600;
	transition: all 0.3s ease;
	padding: 9px 15px;
}
button.embed:hover,
button.edit:hover {
	background: #e5e6e6;
}
.toggle-group .btn-primary {
	background: #5678fc;
}
.btn-widget-change {
	position: relative;
}
.embedCode-holder {
	position: absolute;
	z-index: 999;
	background: #fff;
	border: 1px solid #d4d9df;
	border-radius: 5px;
}
#wrapper {
	overflow: hidden;
}
.emdeb-header {
	padding: 18px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}
.embedCode-copy {
	padding: 10px 18px;
	border-top: 1px solid #d4d9df;
	border-bottom: 1px solid #d4d9df;
	margin-bottom: 0;
	height: 198px;
	overflow-y: scroll;
} 
.copyTo-clip  {
	text-align: center;
	padding: 12px 0;
}
.copyTo-clip button {
	color: #fff;
	background: #5678fc;
	padding: 9px 19px;
	border-radius: 3px;
	border: none;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.location::before {
		background-image: url(assets/graphics/location@2x.png);
	}
	.phone-num::before {
		background-image: url(assets/graphics/mobile@2x.png);
	}
	.email-add::before {
		background-image: url(assets/graphics/at@2x.png);
	}
	.calender::before {
		background-image: url(assets/graphics/calender@2x.png);
	}
}
.sub-section-title {
	color: #4276fe;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid #e8f1fa;
	padding-bottom: 11px;
}

.right {
	float: right;
}
.ytd-nights {
	font-size: 11px;
	color: #929fb1;
	margin-right: 10px;
}
.total-stay {
	font-size: 11px;
	color: #fff;
	background: #1bb970;
	padding: 4px 8px;
	width: 25px;
	border-radius: 50px;
}
.package-info {
	padding: 9px 12px 1px;
	background: #f1f5fa;
	border-radius: 3px;
	margin-bottom: 26px;

}
.package-info label {
	color: #36465c;
	font-size: 12px;
}
.package-stay-duration {
	color: #929fb1;
	font-size: 11px;
}
ul.insight-holder {
	padding: 0;
	list-style: none;
} 
ul.insight-holder li {
	display: inline;
}
ul.insight-holder li p {
	display: inline-block;
	background: #e2f1ec;
	padding: 7px 10px;
	border-radius: 3px;
	color: #36465c;
	font-size: 12px;    
}
ul.reward-holder {
	padding: 0;
	list-style: none;
}
.reward-holder li p {
	background: #f1f5fa;
	font-size: 12px;
	color: #36465c;
	border-radius: 3px;
	padding: 12px;
	margin-bottom: 5px;
}
.partners-rewards {
	margin-top: 20px;
}
.duration-scroller {
	height: calc(100% - 262px);
	padding-right: 20px;
	width: 100%;
	position: absolute;
}
#vip-guest .sub-section-title {
	margin-top: 4px;
}
#vip-guest .chat-details {
	border-bottom: none;
	height: calc(100% - 10%);
	padding: 0 35px;
}
.chat-header h1 {
	font-size: 13px;
	color: #36465c;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 17px 0;
	margin-top: 0;
	box-shadow: -2px 1px 5px #e9edf2;
	background: #fff;
}
#vip-guest .top-icon li {
	padding: 6px 11px;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: all 0.1s ease-in-out;
}
#vip-guest .top-icon li.active,
#vip-guest .top-icon li:hover {
	background: #fff;
	padding: 6px 11px;
	border-radius: 5px;
	border: 1px solid #e8f1fa;
}
#vip-guest .topbar-dept {
	text-align: left;
}
.from .chat-msg:after,
.to .chat-msg:after {
	display: none;
}
.sender-image,
.chat-user-img {
	width: 26px;
	height: 26px;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}
.sender-image img {
	width: 100%;
}
.chat-user-img img {
	width: 100%;
}
.chat-user-img {
	float: left;
}
.chat-msg p {
	float: left;
	display: inline-block;
	width: 90%;
}
#vip-guest .sendername {
	display: inline;
	position: relative;
	top: -9px;
	font-weight: 500;
	color: #fff;
}
#vip-guest .message-n .icon li {
	float: left;
}
#vip-guest .message-n .icon li,
#vip-guest .message-n .icon li.active {
	background: #fff;
}
#vip-guest .top-icon li:hover .ico-depart-gray, 
#vip-guest .top-icon li.active a > .ico-depart-gray {
	background: #fff;
}
#vip-guest .ico-depart.active, 
#vip-guest .icon-list li a.active .ico-depart, 
#vip-guest ul.icon-list a:hover .ico-depart, 
#vip-guest top-icon li:hover .ico-depart, 
#vip-guest .top-icon li.active .ico-depart {
	background: url(assets/images/vip-new.png) no-repeat -33px -135px;
}
#vip-guest .ico-depart-gray {
	background: none;
}
#vip-guest .ico-depart.concierge.active, 
#vip-guest .icon-list li a.active .ico-depart.concierge, 
#vip-guest ul.icon-list a:hover .ico-depart.concierge, 
#vip-guest top-icon li:hover .ico-depart.concierge, 
#vip-guest .top-icon li.active .ico-depart.concierge {
	background: url(assets/images/vip-new.png) no-repeat -30px -55px;
}
.depart-count {
	font-size: 12px;
	color: #4276fe;
	margin-left: 5px;
}
#vip-guest .ico-depart {
	background: url(assets/images/vip-new.png) no-repeat -30px -81px;
}
#vip-guest .ico-depart.restaurant {
	background: url(assets/images/vip-new.png) no-repeat -30px -81px;
	/*background: url(assets/images/vip-new.png) no-repeat -30px -55px;*/
}
#vip-guest .ico-depart.concierge {
	background-position: -27px 0px;
}
#vip-guest  .ico-depart.front-desk {
	background-position: -59px 0px;
}
#vip-guest .ico-depart.restaurant.active, 
#vip-guest .icon-list li a.active .ico-depart.restaurant, 
#vip-guest ul.icon-list a:hover .ico-depart.restaurant, 
#vip-guest .top-icon li:hover .ico-depart.restaurant, 
#vip-guest .top-icon li.active .ico-depart.restaurant {
	background: url(assets/images/vip-new.png) no-repeat -33px -136px;
}
#vip-guest .ico-depart.front-desk.active, 
#vip-guest .icon-list li a.active .ico-depart.front-desk, 
#vip-guest ul.icon-list a:hover .ico-depart.front-desk, 
#vip-guest .top-icon li:hover .ico-depart.front-desk, 
#vip-guest .top-icon li.active .ico-depart.front-desk {
	background: url(assets/images/vip-new.png) no-repeat -59px -55px;
}
#vip-guest .ico-depart.concierge.active, 
#vip-guest .icon-list li a.active .ico-depart.concierge, 
#vip-guest ul.icon-list a:hover .ico-depart.concierge, 
#vip-guest .top-icon li:hover .ico-depart.concierge, 
#vip-guest .top-icon li.active .ico-depart.concierge {
	background: url(assets/images/vip-new.png) no-repeat -27px -55px;
}
.model-expander {
	position: absolute;
	top: 10px;
	right: -4px;
	z-index: 999;
	display: inline-block;
	background: none;
	border: none;
}
#vip-guest  .modal-header {
	border: none;
}
.add {
	width: 23px;
	padding: 6px 14px;
	/* height: 23px; */
	top: 7px;
	border: 1px solid #e8f1fa;
	position: relative;
	background: url(assets/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
}
.add-more-insights {
	position: relative;
}
.add-insight-holder {
	position: absolute;
	bottom: -157px;
	left: -20px;
	padding: 0px 13px 0;
	background: #fff;
	border-radius: 5px;
	width: 204px;
	border: 1px solid #e5ebf1;
	box-shadow: 0px 0px 6px #eaeef4;
}
p.add-insight-title {
	font-size: 12px !important;
	color: #4276fe !important;
	background: none !important;
	font-weight: bold;

	margin-bottom: 0px;
}
.insight-input {
	background: #f1f5fa;
	border-radius: 3px;
	border: none;
	padding: 10px;
}
.add-btn {
	background: #4276fe;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 12px 0;
	font-size: 10px;
	width: 100%;
	margin-top: 5px;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	font-size: 14px;
	margin-top: 9px;
}
#mobile-confirmation button.close {
	position: relative;
	right: -18px;
	top: -20px;
}

.edit-this-insight {
	position: relative;
}
.edit-insight-holder {
	position: absolute;
	bottom: -157px;
	left: -20px;
	padding: 0px 13px 0;
	background: #fff;
	border-radius: 5px;
	width: 204px;
	border: 1px solid #e5ebf1;
	box-shadow: 0px 0px 6px #eaeef4;
}
p.edit-insight-title {
	font-size: 12px !important;
	color: #4276fe !important;
	background: none !important;
	font-weight: bold;

	margin-bottom: 0px;
}
.insight-input {
	background: #f1f5fa;
	border-radius: 3px;
	border: none;
	padding: 10px;
}
.delete-btn,
.update-btn {

	color: #fff;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 12px 0;
	font-size: 10px;
	width: 47%;
	margin-top: 5px;
}
.delete-btn {
	background: #f42e53;
	margin-right: 5px;
}
.update-btn {
	background: #4276fe;
}
.edit-insight-holder,
.add-insight-holder {
	display: none;
}
#vip-guest .new-msg {
	background: #3b5874;
}
.right-content .row {
	background: #fff;
}
.right-content .add-insight-holder {
	left: -120px;
}
#setting .qricon {
	right: 116px;
}
#mobile-confirmation .container {
	width: 204px;
}
#mobile-confirmation p {
	margin-bottom: 0;
}
.sabre-btn-close {
	display: inline-block;
	text-align: right;
	width: 100%;
	color: #000;
}
#mobile-confirmation label {
	color: #366462;
	font-size: 13px;
	line-height: 18px;
}
.input-style {
	border: 1px solid #989898;
	border-radius: 3px;
	width: 100%;
	padding: 7px 9px;
	display: inline-block;
}

.flag-holder {
	width: 22px;
	height: 16px;
	background: url(assets/images/flags.png);
	background-position: 88px -3px;
	margin: 10px;
}
.view-confirm {
	background: #eff2f6;
	color: #5087d4;
	font-size: 13px;
	padding: 12px;
	width: 100%;
	text-decoration: underline;
	text-align: center;
	border: none;
	border-radius: 3px;
}
#mobile-confirmation button[type="submit"] {
	font-size: 13px;
	margin-top: 12px;
	color: #fff;
	background: #e40d00;
	width: 100%;
	border-radius: 3px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-weight: bold;
	border: none;
}
.main-widget p {
	display: inline-block;
	width: 100%;
}
.footer-content {
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 1;
}
.footer-content img {
	position: absolute;
	left: 0px;
	top: 0;
	border: 0;
	z-index: 2;
}
.footer-content p {
	padding: 9px 10px;
	text-align: right;
	font-weight: 600;
	color: #131313;
	font-size: 10px;
	line-height: 18px;
	text-align: right;
	background: #eff2f6;
}
footer {
	margin-top: 12px;
}
#mobile-confirmation.wrapper {
	width: 235px;
	height: 324px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 5px #e2e6ec;
}
#widget-page {
	position: relative;
}
#mobile-confirmation .dropdown {
	display: inline-block;
	width: 23%;
	position: relative;
	float: left;
}
.phone-number {
	background: none;
	border: none;
	float: left;
	width: 70%;
	outline: none;
	margin-top: -2px;
	margin-left: 10px;
}
#mobile-confirmation .caret {
	position: absolute;
	top: 7px;
	right: 0;
}
.country-select {
	background: none;
	border: none;
	width: 29px;
	padding: 0;
	height: 16px;
}
.country-select p {
	margin: 0;
}
.flag-uk {
	background-position: 58px -3px;
}
.main-widget form {
	margin-top: 20px;
}
.gray-bg {
	background-color: #f8fbff;
}
.widget-center {
	background-color: #f8fbff;
	height: 100vh;
	display: inline-flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
#widget-page iframe {
	width: 100%;
	height: 400px;
	border: 1px solid #e8f1fa;
	border: none;
}
.widget-sample {
	padding: 0;
	border: none;
}
#setting .profile-form button {
	background: #e8f1fa;
	border: none;
	border-radius: 5px;
	padding: 9px 14px;
	margin-left: 10px;
}
.img-upload {
	display: inline-block;
	width: 100%;
	clear: both;
}
.img-upload p {
	width: 100%;
	float: left;
}
.img-upload ul {
	width: 60%;
	float: left;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
}
.file-size {
	color: #768691;
	font-size: 10px;
	font-style: italic;
}
.file-name {
	color: #768691;
	font-size: 10px;
}
.color-selector,
.color-selector-btm {
	width: 50px;
	height: 22px;
	border-radius: 3px;
}
.color-selector {
	background: #e40d00;
}
.color-selector-btm {
	background: #4276fe;
}
.color-selection {
	display: inline-block;
	width: 100%;
	clear: both;
}
.color-selection p,
.color-selection div,
.color-selection span {
	display: inline-block;
	float: left;
}
.color-selection div,
.color-selection span {
	margin-left: 10px;
}
#setting .profile-title,
.bdr-bottom {
	border: none;
	position: relative;
}
#setting .profile-title:after,
.bdr-bottom:after {
	content: " ";
	position: absolute;
	height: 1px;
	width: calc(100% + 38px);
	border-bottom: 1px solid #e8f1fa;
	bottom: 0;
	left: -38px;
}
p.widget-text {
	font-style: 12px;
	color: #768691;
}
.bdr-bottom {
	height: 1px;
	margin: 40px 0;
}
.main-widget-icon {
	width: 122px;
	height: 122px;
	background: #fff;
	display: inline-flex;
	border: 1px solid #e8f1fa;
	justify-content: center;
	align-items: center;
}
.main-widget-icon img {
	height: 76px;
	width: 76px;
}
.icon-frame {
	height: 199px !important;
}
.pdl20 {
	padding-left: 20px;
}
.mrg-10 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
}
#setting .profile-details {
	padding-bottom: 70px;
}
.cp2 .input-group-addon {
	background: none;
	border: none;
	height: 20px;
}
#business-page .cp2 .input-group-addon {
	background: none;
	border: none;
	height: 20px;
	width: 50px;
	margin: 0 0 0 ;
	padding: 0;
	margin: 7px 0 0 -9px;
}
#business-page  .cp2.colorpicker-element input {
	margin-left: -5px;
}
#business-page .color-selection p span {
	margin-left: 0;
}
.colorpicker-element input {
	background: none !important;
	border: none !important;
	width: 60%;
	margin-top: -8px;
	margin-left: 60px;
}
.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
	display: inline-block;
	cursor: pointer;
	height: 22px;
	vertical-align: text-top;
    height: 18px;
    width: 18px;
	border-radius: 3px;
	margin-top: -5px;
}
#phone {
	border: 1px solid #989898;
	border-radius: 3px;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
}
.input-custom-style {
	background: #e8f1fa;
	border: none;
	border-radius: 3px;
	font-size: 11px;
	color: #48576c;
	padding: 9px 11px;
	text-align: center;
}
.file-input-wrapper span {
	margin: 0 !important;
}
.file-input-name {
	color: #768691;
	font-size: 10px;	
	position: relative;
	bottom: -8px;
}
#setting p {
	position: relative;
}
#setting p span.default-size {
	position: absolute;
	top: 0;
	color: #768691;
	left: 212px;
	font-style: italic;
	font-size: 10px;
}
#widget-page p span.default-size {
	left: 202px;
}
#business-page .input-custom-style {
	margin-left: -4px;
}
#business-page .color-selection div {
	margin-left: 15px;
}
.mrgr {
	margin-right: 26px;
}
#widget-page p span.custom-pos {
	left: 222px !important;
} 
#widget-page p span.custom-pos2 {
	left: 232px !important;
} 
#widget-page input[type="radio"] {
	margin-right: 10px;
}

/*Add widget CSS*/
#add-widget .container {
	width: 708px;
	margin: 0 auto;
}
.iframe-holder {
	position: relative;

}
.iframe-holder iframe {
	width: 100%;
	height: 100%;
    border: none;
    height: 510px;
}
.modal-header p {
    display: inline-block;
}
.colorpicker:before,
.colorpicker:after {
	content: none;
}
.widget-hotelDetails .form-group {
	padding: 0 !important;
}
.float-left {
	float: left;
    padding: 10px 22px 0;
	width: 50%;
    height: 510px;
    overflow-y: scroll
}
.float-right {
	float: right;
	width: 50%;
	    position: relative;
    height: 510px;
}
.image-holder,
.fav-iconHolder {

    height: 62px;
    width: 62px;
    border: 1px solid #dfe0e1;
    border-radius: 5px;
    box-shadow: none;
        text-align: center;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    background: #fff;
}
.img-textP {
	display: inline;
}
.img-textP {
    display: inline;
    margin-left: 10px;
    color: #b2b3b7;
    font-style: italic;
    font-size: 12px;

        top: -12px;
}
.hotel-imgUpload {
	background: #f2f3f4;
	font-size: 12px;
	border: 1px solid #d4d9df;
	color: #222938;
	padding: 9px 16px;
	position: relative;
	    margin-top: 6px;
	border-radius: 2px;
}
.Add-WidgetForm input {
	display: inline-block;
	width: 100%;
	padding: 15px 12px;
	border: 1px solid #dfe0e1;
	border-radius: 2px;
}
.color-info {
	display: inline-block;
	width: 100%;
}
.color-info p {
    color: #b2b3b7;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    float: left;
    top: 10px;
}

.color-info .colorpicker {
	float: right;
	    height: 20px;
    padding: 0;
}
.color-info .cp2.colorpicker-element input {
    max-width: 60px;
}
/*ColorPicker CSS*/
.colorpicker {
    padding: 4px;
    min-width: 130px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    z-index: 2500;
    display: inline-block;
}
.color-info .colorpicker {
	max-width: auto;
	min-width: auto;
    border: 1px solid #dfe0e1;
    padding: 7px 10px;
    height: 40px;
}
.color-info .colorpicker div {
    position: relative;
    display: inline-block;
}
.color-info .cp2 .input-group-addon {
    display: inline-block;
    padding: 0;
    border: 1px solid #dfe0e1;
    margin: 0;
}
.Add-WidgetForm input {
	display: inline-block;
    width: auto;
    margin: 0px 0 0 48px;
    padding: 0;
    top: 0 !important;
    box-shadow: none;
}
.Add-WidgetForm input[name="HotelName"] {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 12px 15px;
}
.cp2.colorpicker-element input {
    max-width: 60px;
    font-size: 12px;
    font-weight: 700;
    height: 12px;
    margin-left: 20px !important;
    top: -5px;
    color: #464b58;
    position: relative;
}
.Add-WidgetForm  .colorpicker-element .input-group-addon i {
	margin-top: 0px;
}
button.dropdown-toggle {
    background: #fff;
    border: 1px solid #dfe0e1;
    width: 100%;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    color: #2b384a;
    border-radius: 3px;
}

button.dropdown-toggle .caret {
    float: right;
    margin-top: 10px;
}
.modal-body {
    position: relative;
    padding: 0 15px;
    display: inline-block;
}
.modal-footer {
	margin-top: -5px;
}
.entryDetailBtns button[type="reset"],
.entryDetailBtns button[type="button"],
.entryDetailBtns button[type="submit"] {
	background: #f2f3f4;
	font-size: 12px;
	color: #222938;
	padding: 4px 16px;
	min-width: 75px;
	border-radius: 2px;
	font-weight: 600;
	border: 1px solid #d4d9df;
}
.entryDetailBtns button[type="submit"] {
	background: #5678fc;
	color: #fff;
	border-color: #5678fc;
}
.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #f2f3f4;
    font-weight: 700;
    font-size: 14px;
    color: #2b384a;
}
.modal-header .close {
	font-size: 25px;
}
.modal-header p {
	margin-bottom: 0;
}

/*file-input*/

.file-input {
	 margin-top: 10px;
	 position: relative;
}
div.btn-file {
    position: absolute;
    top: -60px;
    right: 0;
    background: #f2f3f4;
    border: 1px solid #d4d9df;
    color: #222938;
    border-radius: 2px;
}
.glyphicon-folder-open {
	display: none;
}
.image-uploadHolder,
.fav-colorSelector {
	text-align: center;
	background: #f2f3f4;
	border: 1px solid #dfe0e1;
    min-height: 180px;
    position: relative;
    padding: 10px 0;
}
.image-uploadHolder div.btn-file {
    position: relative;
    top: auto;
    right: auto;
    background: #fff;
    padding-left: 6px;
    font-size: 12px;
    font-weight: 700;
}
.domain-input {
	    display: inline-block;
    width: 100% !important;
    margin: 0 !important;
    padding: 12px 16px !important;
}
p.add-moreDomain {
    text-align: right;
}
p.add-moreDomain a {
	font-size: 10px;
	color: #5678fc;
	font-weight: 700;
}

.image-uploadHolder input[type="radio"],
.fav-colorSelector input[type="radio"] {
    position: absolute;
    left: 10px;
    top: 10px !important;
    margin: 0 !important;
}
p.guestext-default {
    display: inline-block;
    width: 100%;
}
.image-uploadHolder .btn-file:hover {
color: #000;
}
.fav-colorSelector .colorpicker {
    border: 1px solid #dfe0e1;
    padding: 7px 10px;
    height: 40px;
    background: #fff;
        min-width: auto !important;
}
.fav-colorSelector .colorpicker .input-group-addon {
	padding: 0;
	    display: inline-block;
}
p.img-format {
    font-size: 12px;
    color: #aaacb1;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: -5px;
}
p.img-diamension {
    font-size: 10px;
    color: #aaacb1;
    font-weight: 700;
}
p.guestext-default {
    font-size: 12px;
    color: #aaacb1;
    font-weight: 700;
    margin-top: 10px;
    line-height: 15px;
}
.padr-5 {
	padding-right: 5px;
}
.padl-5 {
	padding-left: 5px; 
}


/*widget page css*/
.float-right .widget-holder {
    position: relative;
    bottom: auto;
    right: -12px;
    display: inline-flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.widget-holder .image-container {
	text-align: center;
}
.widget-holder .image-container img {
	border-radius: 4px;
}
.widget-holder .widget-inner {
    text-align: left;
    width: 282px;
    padding: 23px 23px 14px;
    background: #f2f3f4;
    height: 400px;
        overflow: hidden;
    box-shadow: 0px 0px 37px 0px #cdd1d6;
}
.widget-holder p.hotel-title {
	font-size: 13px;
	text-align: center;
	color: #11293b;
	line-height: 15px;
	margin: 10px 0 20px;
}
.widget-holder .form-group {
	position: relative;
}
.widget-holder .form-group label {
	color: #11293b;
	font-size: 9px;
	line-height: 20px;
	font-weight: 700;
}
.widget-holder .form-group input {
	width: 93%;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ddd;
	padding: 16px 7px;
	margin: 0;
}
.full-width {
	width: 100% !important;
}

.widget-holder .intl-tel-input {
	width: 100%;
}
.widget-holder .intl-tel-input input {
	width: 100%;
}
.widget-holder .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #dddddd;
}
.widget-holder .form-group input::-moz-placeholder { /* Firefox 19+ */
	color: #dddddd;
}
.widget-holder .form-group input:-ms-input-placeholder { /* IE 10+ */
	color: #dddddd;
}
.widget-holder .form-group input:-moz-placeholder { /* Firefox 18- */
	color: #dddddd;
}
.widget-holder button.custom-btn {
	background: #5678fc;
	border-radius: 3px;
	color: #fff;
	width: 100%;
	border: none;
	padding: 12px 16px;
	margin-top: 14px;
}
.widget-holder p.credit-txt {
	font-size: 9px;
	color: rgba(17, 41, 59, 0.5);
	text-align: center;
	margin-top: 16px;
}
.language-selectorInner {
	display: inline-block;
	width: 100%;
	clear: both;
}
.language-selectorInner select {
	float: left;
	width: 50%;
	font-weight: 600;
    padding: 5px;
    border: solid 1px #dfe0e1;
    border-radius: 3px;
}

.language-selectorInner .template-ID {
	float: right;
	width: 50%;
}
.template-ID input {
    width: 100%;
    padding: 5px 8px;
    border-radius: 3px;
        margin-left: 2px;
}
button.add-moreBtn {
    font-weight: bold;
    width: 75px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #dfe0e1;
    font-size: 12px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #2b384a;
        margin-top: 2px;
}
.language-selector .gray-bg,
.domain-adder .gray-bg {
    background-color: #f2f3f4;
    padding: 9px;
    border-radius: 3px;
}
.Add-WidgetForm textarea {
	width: 100%;
	    border: 1px solid #dfe0e1;
	    font-size: 12px;
}
.Add-WidgetForm textarea {
    width: 100%;
    border: 1px solid #dfe0e1;
    font-size: 12px;
    padding: 12px 15px;
    border-radius: 3px;
    min-height: 86px;
}

/*loader CSS*/

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots--dot {
	animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #1875f0;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
}
.loading-dots--dot:nth-child(2) {
	animation-delay: .5s;
}
.loading-dots--dot:nth-child(3) {
	animation-delay: 1s;
}
.transition-text {
  font-size: 13px;
  font-weight: bold;
  line-height: 1.54;
  letter-spacing: 0.7px;
  color: #1f2532;
}
.transition-messages {
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 50%;
}
.error-message img {
	margin-bottom: 33px;
}
.error-text {
  opacity: 0.5;
  font-size: 11px;
  line-height: 1.82;
  letter-spacing: 0.6px;
  color: rgba(87, 92, 101, 0.5);
}

.success-message svg {
	height: 85px;
	width: 85px;
}

.checkmark {
  stroke: green;
  stroke-dashoffset: 745.74853515625;
  stroke-dasharray: 745.74853515625;
  -webkit-animation: dash 2s ease-out forwards infinite;
          animation: dash 2s ease-out forwards infinite;
}
 .domainname-holder {
    background: #fff;
    padding: 10px 9px;
}
.domainname-holder a {
	text-decoration: none;
}
.domain-adderInner {
	margin-bottom: 5px;
}
.domain-adderInner button.close {
	margin-top: 0;
}

/*Error page*/

#error-page {
	background: #dfe0e1;
}

.error-messageHolder {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
        width: 100%;
    height: 100vh;
}


.error-box {

}

.error-header {
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: #222938;
      margin-bottom: 26px;
}

.error-messageText {
 opacity: 0.5;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgba(34, 41, 56, 0.5);
}

.error-messageHolder  button {
	margin-top: 51px;
	font-size: 15px;
  letter-spacing: 0.2px;
  text-align: left;
  border-radius: 5px;
  background-color: #5678fc;
  color: #ffffff;
  padding: 12px 26px;
}



/*Animation keyframes*/

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
 
@keyframes dash {
  0% {
    stroke-dashoffset: 745.74853515625;
  }
  100% {
    stroke-dashoffset: 0;
  }
}




@media (min-width: 768px) {
	.modal-dialog {
	    width: 770px;
	    margin: 30px auto;
	}
}