.nav-setting {
	top: 141px;
}
#setting .page-title {
	text-transform: uppercase;
	text-align: left;
}
.form-group-heading {
	font-size: 13px;
	color: #2d323d;
	font-weight: bold;
}
.header-choice {
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-choice li input {
	display: inline;
}
.header-choice li input {

}
.custom-witdh-set {
	width: 258px;	
}
#setting .profile-form {
	padding: 0;
}
#setting input {
	border-radius: 3px;
}
#setting .form-group {
	padding-left: 100px; 
	padding-right: 96px; 
}
.header-choice p span {
	margin-right: 28px;
}
.header-choice p span input {
	margin-right: 10px;
}

#setting input[type="file"] {
	border: none;
}
#setting input[type="color"] {
	border: 0px;
	background: none;
}
#vip-guest .content-wrapper {
	margin-left: 0;
	padding-top: 0px;
}
#vip-guest .topbar-dept.topbar-dept-message {
	margin-top: 0px;

	min-height: 80px;
}
#vip-guest .search-filter {
	position: static;
	margin-left: 0;
}
#vip-guest .msg-list {
	height: calc(100% - 0px);
	background-color: #2b384a;
	padding-top: 12px;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list.new-msg {
	background: #3b5874;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list {
	background: #384d65;
	border: none;
	margin: 10px;
	padding: 8px 9px;
	border-radius: 5px;
}
#vip-guest .single-msg-list {
	padding: 8px 9px;
	background: #384d65;
}
#vip-guest .single-msg-list.active {
	background: #4276fe;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list.active, 
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list:hover {
	background: #4276fe;
	color: #fff;
	border: none;
	border-radius: 5px;
}
#vip-guest .search-box input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input::-moz-placeholder { /* Firefox 19+ */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input:-ms-input-placeholder { /* IE 10+ */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input:-moz-placeholder { /* Firefox 18- */
	color: #748daf;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
#vip-guest .search-box input,
#vip-guest .search-box {
	background: #2b384a;
	color: #fff;
}
#vip-guest .search-box input {
	width: 100%;
	padding-left: 0;
}
#vip-guest .search-box {
	border: none;
	border-radius: 5px;
	width: 206px;
	margin-left: -4px;
}
.vip-guest-header {
	text-align: center;
}
.title-vip {
	color: #ffffff;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 22px;
}
#vip-guest  .msg-list {
	width: 231px;
	background: #36465c;
	margin-top: 2px;
	padding: 20px 12px;
}
#vip-guest .msg-box {
	width: 231px;
	background-color: #2b384a;
}
.mrg10 {
	padding-top: 12px;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 231px;
	background: #2b384a;
}
#vip-guest .msg-bg {
	background: #36465c;
	padding-top: 10px;
}
#vip-guest .msg-box.msg-box-message .msg-list {
	border: none;
}
#vip-guest .msg-box.msg-box-message .msg-list .single-msg-list::before {
	display: none;
}
.msg-box.msg-box-message .msg-list .single-msg-list.active .sendername, .msg-box.msg-box-message .msg-list .single-msg-list:hover .sendername {
	color: #fff;
}
.msg-box.msg-box-message .msg-list .single-msg-list.active .msgfromsender, .msg-box.msg-box-message .msg-list .single-msg-list:hover .msgfromsender {
	color: #fff;
}
.msg-box.msg-box-message .msg-list .single-msg-list.new-msg .sendername,
.msg-box.msg-box-message .msg-list .single-msg-list .sendername {
	color: #fff;
}
.msgfromsender {
	color: #748daf;
}
.guest-message-count  {
	color: #fff;
	text-transform: uppercase;
	padding: 0 22px;
}
.guest-message-count p {
	margin-bottom: 0;
}
.guest-message-count span {
	float: right;
}
.message-n .icon {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
}
#vip-guest .container {
	width: calc(100% - 543px);
	margin: 0 auto 0 231px;
}
#vip-guest .msg-chat.msg-chat-message {
	margin: 0;
	width: calc(100% - 546px);
	height: calc(100% - 204px);
	border: none;
}
.right-content {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 295px;
	background: #fff;
}
.right-content:before {
	content: " "; 
	width: 1px;
	height: 100%;
	position: absolute;
	left: -16px;
	top: 0px;
	bottom: 0px;
	border-left: 1px solid #e5ebf1;
}
.right-wrapper {
	width: 265px;
}
/*Profile page css*/
.member-photo {
	height: 64px;
	width: 64px;
	border-radius: 3px;
	overflow: hidden;
}
.member-photo img {
	width: 100%;
}
.pddl-0 {
	padding-left: 0;
}
.pddr-0 {
	padding-right: 0;
	padding-left: 23px;
}
p.member-name {
	font-size: 18px;
	font-weight: 600;
	color: #4276fe;
	margin-bottom: 4px;
}
p.member-duration {
	display: inline-block;
	color: #fff;
	font-size: 9px;
	background: #3b5874;
	padding: 0px 7px;
	border-radius: 50px;
}
.member-detail {
	margin-top: 2px;
}
.member-top-marg {
	margin-top: 20px;
	margin-bottom: 29px;
}
ul.user-contact {
	list-style: none;
	padding-left: 30px;
	margin-bottom: 30px;
}
ul.user-contact li {
	margin-bottom: 11px;
	position: relative;
	font-size: 12px;
	color: #36465c;
}
ul.user-contact li.email-add {
	color: #4276fe;
}
.location::before,
.phone-num::before,
.email-add::before,
.calender::before {
	content: " ";
	position: absolute;
	width: 16px;
	height: 16px;
	left: -30px;
	background-repeat: no-repeat;
	background-position: center;
}
.location::before {
	background-image: url(assets/graphics/location.png);
}
.phone-num::before {
	background-image: url(assets/graphics/mobile.png);
}
.email-add::before {
	background-image: url(assets/graphics/at.png);
}
.calender::before {
	background-image: url(assets/graphics/calender.png);
}
.sub-section-title {
	color: #4276fe;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid #e8f1fa;
	padding-bottom: 11px;
}

.right {
	float: right;
}
.ytd-nights {
	font-size: 11px;
	color: #929fb1;
	margin-right: 10px;
}
.total-stay {
	font-size: 11px;
	color: #fff;
	background: #40ca98;
	padding: 4px 8px;
	width: 25px;
	border-radius: 50px;
}
.package-info {
	padding: 9px 12px 1px;
	background: #f1f5fa;
	border-radius: 3px;
	margin-bottom: 26px;

}
.package-info label {
	color: #36465c;
	font-size: 12px;
}
.package-stay-duration {
	color: #929fb1;
	font-size: 11px;
}
ul.insight-holder {
	padding: 0;
	list-style: none;
} 
ul.insight-holder li {
	display: inline;
}
ul.insight-holder li p {
	display: inline-block;
	background: #e2f1ec;
	padding: 7px 10px;
	border-radius: 3px;
	color: #36465c;
	font-size: 12px;    
}
ul.reward-holder {
	padding: 0;
	list-style: none;
}
.reward-holder li p {
	background: #f1f5fa;
	font-size: 12px;
	color: #36465c;
	border-radius: 3px;
	padding: 12px;
	margin-bottom: 5px;
}
.partners-rewards {
	margin-top: 20px;
}
.duration-scroller {
	height: calc(100% - 262px);
	padding-right: 20px;
	width: 100%;
	position: absolute;
}
#vip-guest .sub-section-title {
	margin-top: 4px;
}
#vip-guest .chat-details {
	border-bottom: none;
	height: calc(100% - 10%);
	padding: 0 35px;
}
.chat-header h1 {
	font-size: 13px;
	color: #36465c;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 17px 0;
	margin-top: 0;
	box-shadow: -2px 1px 5px #e9edf2;
	background: #fff;
}
#vip-guest .top-icon li {
	padding: 6px 11px;
	border-radius: 5px;
	border: 1px solid transparent;
	transition: all 0.1s ease-in-out;
}
#vip-guest .top-icon li.active,
#vip-guest .top-icon li:hover {
	background: #fff;
	padding: 6px 11px;
	border-radius: 5px;
	border: 1px solid #e8f1fa;
}
#vip-guest .topbar-dept {
	text-align: left;
}
.from .chat-msg:after,
.to .chat-msg:after {
	display: none;
}
.sender-image,
.chat-user-img {
	width: 26px;
	height: 26px;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin-right: 10px;
}
.sender-image img {
	width: 100%;
}
.chat-user-img img {
	width: 100%;
}
.chat-user-img {
	float: left;
}
.chat-msg p {
	float: left;
	display: inline-block;
	width: 90%;
}
#vip-guest .sendername {
	display: inline;
	position: relative;
	top: -9px;
	font-weight: 500;
	color: #fff;
}
#vip-guest .message-n .icon li {
	float: left;
}
#vip-guest .message-n .icon li,
#vip-guest .message-n .icon li.active {
	background: #fff;
}
#vip-guest .top-icon li:hover .ico-depart-gray, 
#vip-guest .top-icon li.active a > .ico-depart-gray {
	background: #fff;
}
#vip-guest .ico-depart.active, 
#vip-guest .icon-list li a.active .ico-depart, 
#vip-guest ul.icon-list a:hover .ico-depart, 
#vip-guest top-icon li:hover .ico-depart, 
#vip-guest .top-icon li.active .ico-depart {
	background: url(assets/images/vip-sprite.png) no-repeat -33px -135px;
}
#vip-guest .ico-depart-gray {
	background: none;
}
#vip-guest .ico-depart.concierge.active, 
#vip-guest .icon-list li a.active .ico-depart.concierge, 
#vip-guest ul.icon-list a:hover .ico-depart.concierge, 
#vip-guest top-icon li:hover .ico-depart.concierge, 
#vip-guest .top-icon li.active .ico-depart.concierge {
	background: url(assets/images/vip-sprite.png) no-repeat -30px -55px;
}
.depart-count {
	font-size: 12px;
	color: #4276fe;
	margin-left: 5px;
}
#vip-guest .ico-depart {
	background: url(assets/images/vip-sprite.png) no-repeat -30px -81px;
}
#vip-guest .ico-depart.restaurant {
	background: url(assets/images/vip-sprite.png) no-repeat -30px -81px;
	/*background: url(assets/images/vip-sprite.png) no-repeat -30px -55px;*/
}
#vip-guest .ico-depart.concierge {
	background-position: -27px 0px;
}
#vip-guest  .ico-depart.front-desk {
	background-position: -59px 0px;
}
#vip-guest .ico-depart.restaurant.active, 
#vip-guest .icon-list li a.active .ico-depart.restaurant, 
#vip-guest ul.icon-list a:hover .ico-depart.restaurant, 
#vip-guest .top-icon li:hover .ico-depart.restaurant, 
#vip-guest .top-icon li.active .ico-depart.restaurant {
	background: url(assets/images/vip-sprite.png) no-repeat -33px -136px;
}
#vip-guest .ico-depart.front-desk.active, 
#vip-guest .icon-list li a.active .ico-depart.front-desk, 
#vip-guest ul.icon-list a:hover .ico-depart.front-desk, 
#vip-guest .top-icon li:hover .ico-depart.front-desk, 
#vip-guest .top-icon li.active .ico-depart.front-desk {
	background: url(assets/images/vip-sprite.png) no-repeat -59px -55px;
}
#vip-guest .ico-depart.concierge.active, 
#vip-guest .icon-list li a.active .ico-depart.concierge, 
#vip-guest ul.icon-list a:hover .ico-depart.concierge, 
#vip-guest .top-icon li:hover .ico-depart.concierge, 
#vip-guest .top-icon li.active .ico-depart.concierge {
	background: url(assets/images/vip-sprite.png) no-repeat -27px -55px;
}
.model-expander {
	position: absolute;
	top: 10px;
	right: -4px;
	z-index: 999;
	display: inline-block;
	background: none;
	border: none;
}
#vip-guest  .modal-header {
	border: none;
}
.add {
	width: 23px;
	padding: 6px 14px;
	/* height: 23px; */
	top: 7px;
	border: 1px solid #e8f1fa;
	position: relative;
	background: url(assets/images/plus.png);
	background-repeat: no-repeat;
	background-position: center;
}
.add-more-insights {
	position: relative;
}
.add-insight-holder {
	position: absolute;
	bottom: -157px;
	left: -20px;
	padding: 0px 13px 0;
	background: #fff;
	border-radius: 5px;
	width: 204px;
	border: 1px solid #e5ebf1;
	box-shadow: 0px 0px 6px #eaeef4;
}
p.add-insight-title {
	font-size: 12px !important;
	color: #4276fe !important;
	background: none !important;
	font-weight: bold;

	margin-bottom: 0px;
}
.insight-input {
	background: #f1f5fa;
	border-radius: 3px;
	border: none;
	padding: 10px;
}
.add-btn {
	background: #4276fe;
	color: #fff;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 12px 0;
	font-size: 10px;
	width: 100%;
	margin-top: 5px;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
	font-size: 14px;
	margin-top: 9px;
}
#mobile-confirmation button.close {
	position: relative;
	right: -18px;
	top: -20px;
}

.edit-this-insight {
	position: relative;
}
.edit-insight-holder {
	position: absolute;
	bottom: -157px;
	left: -20px;
	padding: 0px 13px 0;
	background: #fff;
	border-radius: 5px;
	width: 204px;
	border: 1px solid #e5ebf1;
	box-shadow: 0px 0px 6px #eaeef4;
}
p.edit-insight-title {
	font-size: 12px !important;
	color: #4276fe !important;
	background: none !important;
	font-weight: bold;

	margin-bottom: 0px;
}
.insight-input {
	background: #f1f5fa;
	border-radius: 3px;
	border: none;
	padding: 10px;
}
.delete-btn,
.update-btn {

	color: #fff;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	padding: 12px 0;
	font-size: 10px;
	width: 47%;
	margin-top: 5px;
}
.delete-btn {
	background: #f42e53;
	margin-right: 5px;
}
.update-btn {
	background: #4276fe;
}
.edit-insight-holder,
.add-insight-holder {
	display: none;
}
#vip-guest .new-msg {
	background: #3b5874;
}
.right-content .row {
	background: #fff;
}
.right-content .add-insight-holder {
	left: -120px;
}
#setting .qricon {
	right: 116px;
}
#mobile-confirmation .container {
	width: 204px;
}
#mobile-confirmation p {
	margin-bottom: 0;
}
.sabre-btn-close {
	display: inline-block;
	text-align: right;
	width: 100%;
	color: #000;
}
#mobile-confirmation label {
	color: #366462;
	font-size: 13px;
	line-height: 18px;
}
.input-style {
	border: 1px solid #989898;
	border-radius: 3px;
	width: 100%;
	padding: 7px 9px;
	display: inline-block;
}

.flag-holder {
	width: 22px;
	height: 16px;
	background: url(assets/images/flags.png);
	background-position: 88px -3px;
	margin: 10px;
}
.view-confirm {
	background: #eff2f6;
	color: #5087d4;
	font-size: 13px;
	padding: 12px;
	width: 100%;
	text-decoration: underline;
	text-align: center;
	border: none;
	border-radius: 3px;
}
#mobile-confirmation button[type="submit"] {
	font-size: 13px;
	margin-top: 12px;
	color: #fff;
	background: #e40d00;
	width: 100%;
	border-radius: 3px;
	padding-top: 13px;
	padding-bottom: 13px;
	font-weight: bold;
	border: none;
}
.main-widget p {
	display: inline-block;
	width: 100%;
}
.footer-content {
	position: relative;
	display: inline-block;
	width: 100%;
	z-index: 1;
}
.footer-content img {
	position: absolute;
	left: 0px;
	top: 0;
	border: 0;
	z-index: 2;
}
.footer-content p {
	padding: 9px 10px;
	text-align: right;
	font-weight: 600;
	color: #131313;
	font-size: 10px;
	line-height: 18px;
	text-align: right;
	background: #eff2f6;
}
footer {
	margin-top: 12px;
}
#mobile-confirmation.wrapper {
	width: 235px;
	height: 324px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 5px #e2e6ec;
}
#widget-page {
	position: relative;
}
#mobile-confirmation .dropdown {
	display: inline-block;
	width: 23%;
	position: relative;
	float: left;
}
.phone-number {
	background: none;
	border: none;
	float: left;
	width: 70%;
	outline: none;
	margin-top: -2px;
	margin-left: 10px;
}
#mobile-confirmation .caret {
	position: absolute;
	top: 7px;
	right: 0;
}
.country-select {
	background: none;
	border: none;
	width: 29px;
	padding: 0;
	height: 16px;
}
.country-select p {
	margin: 0;
}
.flag-uk {
	background-position: 58px -3px;
}
.main-widget form {
	margin-top: 20px;
}
.gray-bg {
	background-color: #f8fbff;
}
.widget-center {
	background-color: #f8fbff;
	height: 100vh;
	display: inline-flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
#widget-page iframe {
	width: 100%;
	height: 400px;
	border: 1px solid #e8f1fa;
	border: none;
}
.widget-sample {
	padding: 0;
	border: none;
}
#setting .profile-form button {
	background: #e8f1fa;
	border: none;
	border-radius: 5px;
	padding: 9px 14px;
	margin-left: 10px;
}
.img-upload {
	display: inline-block;
	width: 100%;
	clear: both;
}
.img-upload p {
	    width: 100%;
	float: left;
}
.img-upload ul {
	width: 60%;
	float: left;
	margin-bottom: 0;
	list-style: none;
	padding: 0;
}
.file-size {
	color: #768691;
	font-size: 10px;
	font-style: italic;
}
.file-name {
	color: #768691;
	font-size: 10px;
}
.color-selector,
.color-selector-btm {
	width: 50px;
	height: 22px;
	border-radius: 3px;
}
.color-selector {
	background: #e40d00;
}
.color-selector-btm {
	background: #4276fe;
}
.color-selection {
	display: inline-block;
	width: 100%;
	clear: both;
}
.color-selection p,
.color-selection div,
.color-selection span {
	display: inline-block;
	float: left;
}
.color-selection div,
.color-selection span {
	margin-left: 10px;
}
#setting .profile-title,
.bdr-bottom {
	border: none;
	position: relative;
}
#setting .profile-title:after,
.bdr-bottom:after {
	content: " ";
	position: absolute;
	height: 1px;
	width: calc(100% + 38px);
	border-bottom: 1px solid #e8f1fa;
	bottom: 0;
	left: -38px;
}
p.widget-text {
	font-style: 12px;
	color: #768691;
}
.bdr-bottom {
	height: 1px;
	margin: 40px 0;
}
.main-widget-icon {
	width: 122px;
	height: 122px;
	background: #fff;
	display: inline-flex;
	border: 1px solid #e8f1fa;
	justify-content: center;
	align-items: center;
}
.main-widget-icon img {
	height: 76px;
	width: 76px;
}
.icon-frame {
	height: 199px !important;
}
.pdl20 {
	padding-left: 20px;
}
.mrg-10 {
	margin-top: 10px;
	margin-left: 10px;
	font-size: 12px;
}
#setting .profile-details {
	padding-bottom: 70px;
}
.cp2 .input-group-addon {
	background: none;
	border: none;
	height: 20px;
}
#business-page .cp2 .input-group-addon {
	background: none;
	border: none;
	height: 20px;
	width: 50px;
	margin: 0 0 0 ;
	    padding: 0;
    margin: 7px 0 0 -9px;
}
#business-page  .cp2.colorpicker-element input {
    margin-left: -5px;
}
#business-page .color-selection p span {
	margin-left: 0;
}
.colorpicker-element input {
	background: none !important;
	border: none !important;
	width: 60%;
	margin-top: -8px;
	margin-left: 60px;
}
.colorpicker-element .add-on i, .colorpicker-element .input-group-addon i {
	display: inline-block;
	cursor: pointer;
	height: 22px;
	vertical-align: text-top;
	width: 50px;
	border-radius: 3px;
	margin-top: -5px;
}
#phone {
	border: 1px solid #989898;
	border-radius: 3px;
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
}
.input-custom-style {
	background: #e8f1fa;
	border: none;
	border-radius: 3px;
	font-size: 11px;
	color: #48576c;
	padding: 9px 11px;
	text-align: center;
}
.file-input-wrapper span {
	margin: 0 !important;
}
.file-input-name {
    color: #768691;
    font-size: 10px;	
    position: relative;
    bottom: -8px;
}
#setting p {
	position: relative;
}
#setting p span.default-size {
    position: absolute;
    top: 0;
    color: #768691;
    left: 212px;
    font-style: italic;
    font-size: 10px;
}
#widget-page p span.default-size {
    left: 202px;
}
#business-page .input-custom-style {
    margin-left: -4px;
}
#business-page .color-selection div {
    margin-left: 15px;
}
.mrgr {
	    margin-right: 26px;
}
#widget-page p span.custom-pos {
    left: 222px !important;
} 
#widget-page p span.custom-pos2 {
    left: 232px !important;
} 
#widget-page input[type="radio"] {
	margin-right: 10px;
}